
<header class="header-6">
  <div class="branding">
    <a class="nav-link">
      <clr-icon shape="bar-chart"></clr-icon>
      <span class="title">Xenial Dashboard</span>
    </a>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-icon" (click)="modal.onOpen()">
      <clr-icon shape="cloud"></clr-icon>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a clrDropdownItem (click)="onLightTheme()">Light Theme</a>
        <a clrDropdownItem (click)="onDarkTheme()">Dark Theme</a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        <clr-icon shape="applications"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        
        <a clrDropdownItem>Some Xenial Application</a>
        <a clrDropdownItem>Some Xenial Application</a>
        <a clrDropdownItem>Some Xenial Application</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>
<app-modal></app-modal>
