<clr-modal [(clrModalOpen)]="open">
  <h3 class="modal-title">Widget Catalog</h3>
  <div class="modal-body">
    <p>Here would live a collection of Widgets to choose from.</p>
    <div class="card mb-3" (click)="addItem(1, 'Net Sales by Date')" style="max-width: 540px;">
        <div class="row no-gutters" tabindex="0">
          <div class="col-md-4">
              <clr-icon class="shape"  shape="line-chart" size="118"></clr-icon>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Net Sales by Date</h5>
              <p class="card-text">Chart that displays Net Sales by Business Date over Time.</p>
              <p class="card-text"><small class="text-muted">Line Chart</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" (click)="addItem(3, 'Speed of Service')" style="max-width: 540px;">
        <div class="row no-gutters" tabindex="1">
          <div class="col-md-4">
              <clr-icon class="shape" shape="bar-chart" size="118"></clr-icon>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Speed of Service</h5>
              <p class="card-text">Chart that displays Speed of Service statistics by Hour.</p>
              <p class="card-text"><small class="text-muted">Bar Chart</small></p>
              <button type="button" class="btn btn-icon float-sm-right" (click)="open = false">
                  <clr-icon class="shape" shape="plus" size="42"></clr-icon>
                </button>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" (click)="addItem(5,'Labor Cost')" style="max-width: 540px;">
        <div class="row no-gutters" tabindex="2">
          <div class="col-md-4">
              <clr-icon class="shape" shape="bar-chart" size="118"></clr-icon>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Labor Cost</h5>
              <p class="card-text">Chart that displays Sales grouped by Destination.</p>
              <p class="card-text"><small class="text-muted">Pie Chart</small></p>
              <button type="button" class="btn btn-icon float-sm-right" (click)="open = false">
                  <clr-icon class="shape" shape="plus" size="42"></clr-icon>
                </button>
            </div>
          </div>
        </div>
    </div>   
    <div class="card mb-3" (click)="addItem(10,'Item Comments Word Cloud')" style="max-width: 540px;">
      <div class="row no-gutters" tabindex="3">
        <div class="col-md-4">
            <clr-icon class="shape" shape="letter" size="118"></clr-icon>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Item Comments Word Cloud</h5>
            <p class="card-text">Chart that displays Item Comments as a Word Cloud.</p>
            <p class="card-text"><small class="text-muted">Word Cloud</small></p>
            <button type="button" class="btn btn-icon float-sm-right" (click)="open = false">
                <clr-icon class="shape" shape="plus" size="42"></clr-icon>
              </button>
          </div>
        </div>
      </div>
  </div> 
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="open = false">
      Ok
    </button>
  </div>
</clr-modal>
